.wrapper {
	height: 100%;
	width: 50%;
}

.user-choice-label-wrapper {
	height: 26%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-choice-label {
	font-size: 16px;
	text-transform: uppercase;
	margin: 30px auto 16px;
	color: #000000;
}

.choice-buttons-wrapper {
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-choice-btn {
	height: 40px;
	width: 100px;
	background-color: #357b84;
	color: #fff;
	border: none;
	border-radius: 10px;
	margin: 10px 5px;
	font-size: 14px;
	text-transform: uppercase;
	transition: height 0.5s, width 0.5s, background-color 0.5s, font-weight 0.5s,
		font-size 0.5s;
}

.user-choice-btn:hover {
	height: 44px;
	width: 108px;
	background-color: #244e53;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

.user-choice-btn:disabled {
	opacity: 0.5;
}

.user-choice-btn:disabled:hover {
	height: 40px;
	width: 100px;
	background-color: #357b84;
	color: #fff;
	border: none;
	border-radius: 10px;
	margin: 10px 5px;
	font-size: 14px;
	font-weight: normal;
	cursor: not-allowed;
}

.user-choice-wrapper {
	height: 54%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.user-choice {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin: auto;
	color: #000000;
}
